@tailwind base;
@tailwind components;
@tailwind utilities;

body ,html{
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.slant{
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - (tan(7deg) * 100vw)), 0 100%);
}